___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise 

# The Data

This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

All personally identifying information has been removed from the data.

Acknowledgements
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.


----------------------------

#### NOTE: Names, Emails, Phone Numbers, and Credit Card numbers in the data are synthetic and not real information from people. The hotel data is real from the publication listed above.

## <div style="text-align: center">Data Column Reference</div>

<table><thead><tr class="rowsep-1"><th scope="col"><strong>Variable</strong></th><th scope="col"><strong>Type</strong></th><th scope="col"><strong>Description</strong></th><th scope="col"><strong>Source/Engineering</strong></th></tr></thead><tbody><tr><th scope="row"><em>ADR</em></th><td>Numeric</td><td>Average Daily Rate as defined by <a name="bbib5" href="#bib5" class="workspace-trigger">[5]</a></td><td>BO, BL and TR / Calculated by dividing the sum of all lodging transactions by the total number of staying nights</td></tr><tr><th scope="row"><em>Adults</em></th><td>Integer</td><td>Number of adults</td><td>BO and BL</td></tr><tr><th scope="row"><em>Agent</em></th><td>Categorical</td><td>ID of the travel agency that made the booking<a name="btbl1fna" href="#tbl1fna" class="workspace-trigger"><sup>a</sup></a></td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateDayOfMonth</em></th><td>Integer</td><td>Day of the month of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateMonth</em></th><td>Categorical</td><td>Month of arrival date with 12 categories: “January” to “December”</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateWeekNumber</em></th><td>Integer</td><td>Week number of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateYear</em></th><td>Integer</td><td>Year of arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>AssignedRoomType</em></th><td>Categorical</td><td>Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>Babies</em></th><td>Integer</td><td>Number of babies</td><td>BO and BL</td></tr><tr><th scope="row"><em>BookingChanges</em></th><td>Integer</td><td>Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation</td><td>BO and BL/Calculated by adding the number of unique iterations that change some of the booking attributes, namely: persons, arrival date, nights, reserved room type or meal</td></tr><tr><th scope="row"><em>Children</em></th><td>Integer</td><td>Number of children</td><td>BO and BL/Sum of both payable and non-payable children</td></tr><tr><th scope="row"><em>Company</em></th><td>Categorical</td><td>ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons</td><td>BO and BL.</td></tr><tr><th scope="row"><em>Country</em></th><td>Categorical</td><td>Country of origin. Categories are represented in the ISO 3155–3:2013 format <a name="bbib6" href="#bib6" class="workspace-trigger">[6]</a></td><td>BO, BL and NT</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>CustomerType</em></th><td rowspan="5">Categorical</td><td>Type of booking, assuming one of four categories:</td><td rowspan="5">BO and BL</td></tr><tr><td>Contract - when the booking has an allotment or other type of contract associated to it;</td></tr><tr><td>Group – when the booking is associated to a group;</td></tr><tr><td>Transient – when the booking is not part of a group or contract, and is not associated to other transient booking;</td></tr><tr><td>Transient-party – when the booking is transient, but is associated to at least other transient booking</td></tr><tr><th scope="row"><em>DaysInWaitingList</em></th><td>Integer</td><td>Number of days the booking was in the waiting list before it was confirmed to the customer</td><td>BO/Calculated by subtracting the date the booking was confirmed to the customer from the date the booking entered on the PMS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="7"><em>DepositType</em></th><td rowspan="7">Categorical</td><td>Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories:</td><td rowspan="2">BO and TR/Value calculated based on the payments identified for the booking in the transaction (TR) table before the booking׳s arrival or cancellation date.</td></tr><tr><td rowspan="3">No Deposit – no deposit was made;</td></tr><tr><td>In case no payments were found the value is “No Deposit”.</td></tr><tr><td rowspan="2">If the payment was equal or exceeded the total cost of stay, the value is set as “Non Refund”.</td></tr><tr><td rowspan="2">Non Refund – a deposit was made in the value of the total stay cost;</td></tr><tr><td rowspan="2">Otherwise the value is set as “Refundable”</td></tr><tr><td>Refundable – a deposit was made with a value under the total cost of stay.</td></tr><tr><th scope="row"><em>DistributionChannel</em></th><td>Categorical</td><td>Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and DC</td></tr><tr><th scope="row"><em>IsCanceled</em></th><td>Categorical</td><td>Value indicating if the booking was canceled (1) or not (0)</td><td>BO</td></tr><tr><th scope="row"><em>IsRepeatedGuest</em></th><td>Categorical</td><td>Value indicating if the booking name was from a repeated guest (1) or not (0)</td><td>BO, BL and C/ Variable created by verifying if a profile was associated with the booking customer. If so, and if the customer profile creation date was prior to the creation date for the booking on the PMS database it was assumed the booking was from a repeated guest</td></tr><tr><th scope="row"><em>LeadTime</em></th><td>Integer</td><td>Number of days that elapsed between the entering date of the booking into the PMS and the arrival date</td><td>BO and BL/ Subtraction of the entering date from the arrival date</td></tr><tr><th scope="row"><em>MarketSegment</em></th><td>Categorical</td><td>Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and MS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>Meal</em></th><td rowspan="5">Categorical</td><td>Type of meal booked. Categories are presented in standard hospitality meal packages:</td><td rowspan="5">BO, BL and ML</td></tr><tr><td>Undefined/SC – no meal package;</td></tr><tr><td>BB – Bed &amp; Breakfast;</td></tr><tr><td>HB – Half board (breakfast and one other meal – usually dinner);</td></tr><tr><td>FB – Full board (breakfast, lunch and dinner)</td></tr><tr><th scope="row"><em>PreviousBookingsNotCanceled</em></th><td>Integer</td><td>Number of previous bookings not cancelled by the customer prior to the current booking</td><td>BO and BL / In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and not canceled.</td></tr><tr><th scope="row"><em>PreviousCancellations</em></th><td>Integer</td><td>Number of previous bookings that were cancelled by the customer prior to the current booking</td><td>BO and BL/ In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and canceled.</td></tr><tr><th scope="row"><em>RequiredCardParkingSpaces</em></th><td>Integer</td><td>Number of car parking spaces required by the customer</td><td>BO and BL</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="4"><em>ReservationStatus</em></th><td rowspan="4">Categorical</td><td>Reservation last status, assuming one of three categories:</td><td rowspan="4">BO</td></tr><tr><td>Canceled – booking was canceled by the customer;</td></tr><tr><td>Check-Out – customer has checked in but already departed;</td></tr><tr><td>No-Show – customer did not check-in and did inform the hotel of the reason why</td></tr><tr><th scope="row"><em>ReservationStatusDate</em></th><td>Date</td><td>Date at which the last status was set. This variable can be used in conjunction with the <em>ReservationStatus</em> to understand when was the booking canceled or when did the customer checked-out of the hotel</td><td>BO</td></tr><tr><th scope="row"><em>ReservedRoomType</em></th><td>Categorical</td><td>Code of room type reserved. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>StaysInWeekendNights</em></th><td>Integer</td><td>Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/ Calculated by counting the number of weekend nights from the total number of nights</td></tr><tr><th scope="row"><em>StaysInWeekNights</em></th><td>Integer</td><td>Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/Calculated by counting the number of week nights from the total number of nights</td></tr><tr><th scope="row"><em>TotalOfSpecialRequests</em></th><td>Integer</td><td>Number of special requests made by the customer (e.g. twin bed or high floor)</td><td>BO and BL/Sum of all special requests</td></tr></tbody></table>

-----------

# TASKS

**Complete the tasks shown in bold below. The expected output is shown in a cell below. Be careful not to run the cell above the expected output, as it will clear the expected output. Try your best to solve these in one line of pandas code (not every single question can be solved in one line, but many can be!) Refer to solutions notebook and video to view possible solutions. NOTE: Many tasks have multiple correct solution methods!**

-----
### TASK: Run the following code to read in the "hotel_booking_data.csv" file. Feel free to explore the file a bit before continuing with the rest of the exercise.

In [2]:
import pandas as pd

In [3]:
hotels = pd.read_csv("./hotel_bookings.csv")

In [19]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,01-07-15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,01-07-15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,02-07-15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,02-07-15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,03-07-15

---
**TASK: How many rows are there?**

In [11]:
# CODE HERE

119390

**TASK: Is there any missing data? If so, which column has the most missing data?**

In [ ]:
# CODE HERE

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

Yes, missing data, company column missing: 112593 rows.

**TASK: Drop the "company" column from the dataset.**

In [5]:
hotels = hotels.drop(columns=['company'])

In [6]:
print(hotels.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

**TASK: What are the top 5 most common country codes in the dataset?**

In [13]:
top_countries = hotels['country'].value_counts()
top_countries = top_countries.head(5)

In [14]:
print(top_countries)

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

**TASK: What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?**

In [35]:
# پیدا کردن بیشترین مقدار ADR
max_adr = hotels['adr'].max()

# # پیدا کردن سطر مربوط به بالاترین ADR
highest_adr_row = hotels[hotels['adr'] == max_adr]

# # نمایش نتیجه
print("بیشترین ADR:", max_adr)
print("\nردیف مربوطه:")
print(highest_adr_row)

بیشترین ADR: 5400.0

ردیف مربوطه:
            hotel  is_canceled  lead_time  arrival_date_year  \
48515  City Hotel            1         35               2016

      arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
48515              March                        13                         25

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
48515                        0                     1       2  ...

       booking_changes  deposit_type agent days_in_waiting_list customer_type  \
48515                1    Non Refund  12.0                    0     Transient

          adr  required_car_parking_spaces  total_of_special_requests  \
48515  5400.0                            0                          0

       reservation_status reservation_status_date
48515            Canceled                19-02-16

[1 rows x 31 columns]

**TASK: The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?**

برای این تسک باید میانگین ستون adr را حساب کنیم.

In [37]:
mean_adr = hotels["adr"].mean()
print("Mean ADR:", mean_adr)

Mean ADR: 101.83112153446687

**TASK: What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.**

میانگین (average/mean) تعداد شب‌های اقامت در کل دیتاست چقدر است؟
می‌توانی عدد به‌دست‌آمده را به ۲ رقم اعشار گرد کنی.

In [39]:
# ایجاد یک ستون جدید برای تعداد کل شب‌ها
hotels['total_nights'] = hotels['stays_in_weekend_nights'] + hotels['stays_in_week_nights']

# محاسبه میانگین تعداد شب‌ها
mean_nights = hotels['total_nights'].mean()

# رُند کردن تا 2 رقم اعشار
mean_nights = round(mean_nights, 2)

print("Average number of nights:", mean_nights)

Average number of nights: 3.43

**TASK: What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total* stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.**

میانگین هزینهٔ کل اقامت در کل دیتاست چقدر است؟

In [42]:
# محاسبه هزینه کل اقامت برای هر رزرو
hotels['total_cost'] = hotels['adr'] * hotels['total_nights']

# محاسبه میانگین هزینه کل
mean_total_cost = hotels['total_cost'].mean()

# رند کردن تا 2 رقم اعشار
mean_total_cost = round(mean_total_cost, 2)

print("Average total stay cost:", mean_total_cost)

Average total stay cost: 357.85

**TASK: What are the names and emails of people who made exactly 5 "Special Requests"?**


نام و ایمیل افرادی که دقیقاً ۵ درخواست ویژه (Special Requests) ثبت کرده‌اند چیست؟

In [49]:
# پیدا کردن تمام ردیف‌هایی که 5 درخواست ویژه دارند
special_requests_5 = hotels[hotels['total_of_special_requests'] == 5]

# نمایش نتیجه
print(special_requests_5)

               hotel  is_canceled  lead_time  arrival_date_year  \
7860    Resort Hotel            1         39               2016
11125   Resort Hotel            0        108               2017
14596   Resort Hotel            0         22               2015
14921   Resort Hotel            0        185               2017
14922   Resort Hotel            0        134               2017
24630   Resort Hotel            0         76               2016
27288   Resort Hotel            0        210               2016
27477   Resort Hotel            0          3               2016
29906   Resort Hotel            0         47               2016
29949   Resort Hotel            0         24               2017
32267   Resort Hotel            0         84               2017
39027   Resort Hotel            0        231               2017
39129   Resort Hotel            0        231               2017
39525   Resort Hotel            0        178               2017
70114     City Hotel            1         51               2017
78819     City Hotel            0         30               2015
78820     City Hotel            0         30               2015
78822     City Hotel            0         30               2015
97072     City Hotel            0         54               2016
97099     City Hotel            0         54               2016
97261     City Hotel            0        125               2016
98410     City Hotel            0          3               2016
98674     City Hotel            0        105               2016
99887     City Hotel            0         26               2016
99888     City Hotel            0         26               2016
101569    City Hotel            0         23               2016
102061    City Hotel            0         46               2016
109511    City Hotel            0         36               2017
109590    City Hotel            0         74               2017
110082    City Hotel            0        120               2017
110083    City Hotel            0        120               2017
111909    City Hotel            0        201               2017
111911    City Hotel            0        201               2017
113915    City Hotel            0         51               2017
114770    City Hotel            0        177               2017
114909    City Hotel            0        207               2017
116455    City Hotel            0        219               2017
116457    City Hotel            0        219               2017
118817    City Hotel            0        217               2017
119161    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
7860               August                        36
11125               April                        16
14596                July                        28
14921            February                         8
14922               April                        15
24630                 May                        21
27288              August                        33
27477              August                        35
29906            November                        45
29949               March                        13
32267             January                         3
39027              August                        31
39129              August                        31
39525              August                        33
70114                June                        23
78819             October                        42
78820             October                        42
78822             October                        42
97072           September                        37
97099           September                        37
97261           September                        37
98410           September                        40
98674           September                        40
99887             October                        43
99888             October                        43
101569           November                        46
102061           November                        47
109511              April                        15
109590              April                        15
110082              April                        16
110083              April                        16
111909                May                        20
111911                May                        20
113915               June                        23
114770               June                        25
114909               June                        25
116455               July                        28
116457               July                        28
118817             August                        34
119161             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
7860                           30                        0
11125                          21                        4
14596                           9                        0
14921                          24                        2
14922                          13                        0
24630                          20                        2
27288                          12                        4
27477                          24                        2
29906                           5                        2
29949                          29                        0
32267                          18                        0
39027                           2                        0
39129                           2                        2
39525                          14                        1
70114                           9                        2
78819                          14                        0
78820                          14                        0
78822                          14                        0
97072                          10                        1
97099                          10                        1
97261                           4                        4
98410                          26                        1
98674                          29                        1
99887                          17                        1
99888                          17                        1
101569                         11                        1
102061                         18                        2
109511                         10                        1
109590                          9                        2
110082                         17                        1
110083                         17                        1
111909                         14                        2
111911                         14                        2
113915                          9                        2
114770                         24                        2
114909                         24                        2
116455                         14                        2
116457                         14                        2
118817                         21                        1
119161                         29                        0

        stays_in_week_nights  adults  ...  agent  days_in_waiting_list  \
7860                       5       2  ...    NaN                     0
11125                      7       2  ...    NaN                     0
14596                      3       3  ...    NaN                     0
14921                      2       1  ...    NaN                     0
14922                      3       1  ...    NaN                     0
24630                      5       2  ...  240.0                     0
27288                     10       2  ...    2.0                     0
27477                      5       2  ...  240.0                     0
29906                      2       2  ...  240.0                     0
29949                      2       2  ...  250.0                     0
32267                      2       2  ...  240.0                     0
39027                      4       2  ...  240.0                     0
39129                      4       2  ...  240.0                     0
39525                      5       2  ...  250.0                     0
70114                      3       2  ...    NaN                     0
78819                      3       2  ...    9.0                     0
78820                      3       2  ...    9.0                     0
78822                      3       2  ...    9.0                     0
97072                      1       2  ...    NaN                     0
97099                      1       2  ...    NaN                     0
97261                      6       2  ...    7.0                     0
98410                      2       3  ...    9.0                     0
98674                      3       2  ...    NaN                     0
99887                      2       2  ...   14.0                     0
99888                      2       2  ...   14.0                     0
101569                     2       2  ...    9.0                     0
102061                     3       2  ...    7.0                     0
109511                     2       2  ...    9.0                     0
109590                     3       2  ...    NaN                     0
110082                     4       2  ...    9.0                     0
110083                     4       1  ...    9.0                     0
111909                     2       2  ...    9.0                     0
111911                     2       2  ...    9.0                     0
113915                     3       2  ...    NaN                     0
114770                     1       3  ...    9.0                     0
114909                     2       2  ...    9.0                     0
116455                     5       1  ...    9.0                     0
116457                     5       3  ...    9.0                     0
118817                     4       2  ...    9.0                     0
119161                     2       2  ...    9.0                     0

          customer_type     adr required_car_parking_spaces  \
7860          Transient  159.00                           0
11125         Transient   85.00                           0
14596   Transient-Party  180.67                           1
14921         Transient   39.60                           0
14922         Transient   61.50                           0
24630   Transient-Party  127.14                           0
27288          Contract  106.55                           0
27477         Transient  198.86                           0
29906         Transient   74.80                           0
29949             Group   63.00                           0
32267         Transient  100.50                           0
39027         Transient  225.00                           1
39129         Transient  315.33                           1
39525         Transient  262.50                           0
70114         Transient   78.00                           0
78819          Contract   96.30                           0
78820          Contract   96.30                           0
78822          Contract   96.30                           0
97072         Transient  167.00                           0
97099         Transient  139.00                           0
97261         Transient   99.79                           0
98410         Transient  266.67                           0
98674         Transient   96.90                           0
99887         Transient  112.88                           0
99888         Transient  112.88                           0
101569        Transient  124.67                           0
102061        Transient   68.07                           0
109511        Transient  140.00                           0
109590        Transient  116.25                           0
110082  Transient-Party  108.00                           0
110083  Transient-Party  108.00                           0
111909        Transient  125.10                           0
111911        Transient  125.10                           0
113915        Transient   78.00                           0
114770        Transient  166.50                           0
114909        Transient   99.00                           0
116455  Transient-Party   99.10                           0
116457  Transient-Party  156.60                           0
118817        Transient  135.00                           0
119161        Transient   99.00                           0

       total_of_special_requests  reservation_status  reservation_status_date  \
7860                           5            Canceled                 22-07-16
11125                          5           Check-Out                 02-05-17
14596                          5           Check-Out                 12-07-15
14921                          5           Check-Out                 28-02-17
14922                          5           Check-Out                 16-04-17
24630                          5           Check-Out                 27-05-16
27288                          5           Check-Out                 26-08-16
27477                          5           Check-Out                 31-08-16
29906                          5           Check-Out                 09-11-16
29949                          5           Check-Out                 31-03-17
32267                          5           Check-Out                 20-01-17
39027                          5           Check-Out                 06-08-17
39129                          5           Check-Out                 08-08-17
39525                          5           Check-Out                 20-08-17
70114                          5            Canceled                 09-05-17
78819                          5           Check-Out                 17-10-15
78820                          5           Check-Out                 17-10-15
78822                          5           Check-Out                 17-10-15
97072                          5           Check-Out                 12-09-16
97099                          5           Check-Out                 12-09-16
97261                          5           Check-Out                 14-09-16
98410                          5           Check-Out                 29-09-16
98674                          5           Check-Out                 03-10-16
99887                          5           Check-Out                 20-10-16
99888                          5           Check-Out                 20-10-16
101569                         5           Check-Out                 14-11-16
102061                         5           Check-Out                 23-11-16
109511                         5           Check-Out                 13-04-17
109590                         5           Check-Out                 14-04-17
110082                         5           Check-Out                 22-04-17
110083                         5           Check-Out                 22-04-17
111909                         5           Check-Out                 18-05-17
111911                         5           Check-Out                 18-05-17
113915                         5           Check-Out                 14-06-17
114770                         5           Check-Out                 27-06-17
114909                         5           Check-Out                 28-06-17
116455                         5           Check-Out                 21-07-17
116457                         5           Check-Out                 21-07-17
118817                         5           Check-Out                 26-08-17
119161                         5           Check-Out                 31-08-17

        total_nights total_cost
7860               5     795.00
11125             11     935.00
14596              3     542.01
14921              4     158.40
14922              3     184.50
24630              7     889.98
27288             14    1491.70
27477              7    1392.02
29906              4     299.20
29949              2     126.00
32267              2     201.00
39027              4     900.00
39129              6    1891.98
39525              6    1575.00
70114              5     390.00
78819              3     288.90
78820              3     288.90
78822              3     288.90
97072              2     334.00
97099              2     278.00
97261             10     997.90
98410              3     800.01
98674              4     387.60
99887              3     338.64
99888              3     338.64
101569             3     374.01
102061             5     340.35
109511             3     420.00
109590             5     581.25
110082             5     540.00
110083             5     540.00
111909             4     500.40
111911             4     500.40
113915             5     390.00
114770             3     499.50
114909             4     396.00
116455             7     693.70
116457             7    1096.20
118817             5     675.00
119161             2     198.00

[40 rows x 33 columns]

**TASK: What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)**


چه درصدی از رزروهای هتل مربوط به مهمان‌های تکراری بوده است؟

In [ ]:
# تعداد کل رزروها
total_bookings = len(hotels)

# تعداد رزروهای مهمان تکراری
repeat_guests = hotels['is_repeated_guest'].sum()
# چون 1 و 0 است، جمع = تعداد تکراری‌ها

# محاسبه درصد
repeat_percentage = (repeat_guests / total_bookings) * 100



# رند کردن تا 2 رقم اعشار
repeat_percentage = round(repeat_percentage, 2)

print("Percentage of repeat guests:", repeat_percentage, "%")

Percentage of repeat guests: 3.19 %

**TASK: What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)**

۵ نام خانوادگی پرتکرار در دیتاست کدام‌اند؟
Bonus: آیا می‌توانی این کار را با یک خط کد Pandas انجام دهی؟
(برای ساده‌سازی، عنوان‌هایی مانند MD را هم به عنوان نام خانوادگی در نظر بگیر. برای مثال: اگر نام کامل «Caroline Conley MD» باشد، نام خانوادگی برابر MD در نظر گرفته شود.)

In [62]:
print(hotels.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'total_nights',
       'total_cost'],
      dtype='object')

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

**TASK: What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)**


نام افرادی که بیشترین تعداد کودکان و نوزادان را برای اقامت خود رزرو کرده‌اند چیست؟
(نگران لغو رزرو نباش، فقط تعداد افراد اعلام‌شده در زمان رزرو را در نظر بگیر)

In [70]:
# جمع کودکان و نوزادان برای هر رزرو
hotels['total_kids'] = hotels['children'] + hotels['babies']

# پیدا کردن بیشترین تعداد
max_kids = hotels['total_kids'].max()

# پیدا کردن ردیف‌هایی که بیشترین تعداد را دارند
most_kids_bookings = hotels[hotels['total_kids'] == max_kids]

print("Rows with the most children and babies booked:")
print(len(most_kids_bookings))

Rows with the most children and babies booked:
2

**TASK: What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)**

سه پیش‌شماره (area code) پرتکرار در شماره تلفن‌ها کدام‌اند؟
(پیش‌شماره یعنی ۳ رقم اول شماره تلفن)

In [ ]:
# استخراج 3 رقم اول شماره تلفن
hotels['area_code'] = hotels['phone-number'].astype(str).str[:3]

# پیدا کردن 3 پیش‌شماره پرتکرار
top_area_codes = hotels['area_code'].value_counts().head(3)

print(top_area_codes)


# astype(str) → شماره‌ها را به رشته تبدیل می‌کنیم تا بتوانیم برش بزنیم

# str[:3] → سه رقم اول (پیش‌شماره)

# value_counts() → تعداد وقوع هر پیش‌شماره

# head(3) → ۳ پیش‌شماره پرتکرار

Code - Total Count

799    168
185    167
541    166
Name: phone-number, dtype: int64

**TASK: How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?**

چند رزرو (arrival) بین روز ۱ تا ۱۵ هر ماه اتفاق افتاده است؟
(شامل روز ۱ و ۱۵ هم می‌شود)

In [ ]:
arrivals_1_to_15 = hotels[(hotels['arrival_date_day_of_month'] >= 1) & (hotels['arrival_date_day_of_month'] <= 15)].shape

print("Number of arrivals between 1st and 15th:", arrivals_1_to_15)


# .shape یک tuple برمی‌گرداند: (تعداد ردیف‌ها, تعداد ستون‌ها)

Number of arrivals between 1st and 15th: (58152, 34)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
118573    City Hotel            0        205               2017
118613    City Hotel            0        297               2017
118619    City Hotel            0        135               2017
118622    City Hotel            0         77               2017
118673    City Hotel            0        207               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
118573             August                        33
118613             August                        32
118619             August                        33
118622             August                        33
118673             August                        33

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
118573                         15                        2
118613                         11                        4
118619                         15                        2
118622                         14                        3
118673                         13                        4

        stays_in_week_nights  adults  ...  days_in_waiting_list  \
0                          0       2  ...                     0
1                          0       2  ...                     0
2                          1       1  ...                     0
3                          1       1  ...                     0
4                          2       2  ...                     0
...                      ...     ...  ...                   ...
118573                     5       2  ...                     0
118613                     8       2  ...                     0
118619                     6       3  ...                     0
118622                     6       2  ...                     0
118673                     7       2  ...                     0

        customer_type     adr required_car_parking_spaces  \
0           Transient    0.00                           0
1           Transient    0.00                           0
2           Transient   75.00                           0
3           Transient   75.00                           0
4           Transient   98.00                           0
...               ...     ...                         ...
118573      Transient  123.30                           0
118613      Transient   39.67                           0
118619      Transient  195.00                           0
118622      Transient   80.10                           0
118673      Transient  141.46                           0

       total_of_special_requests reservation_status  reservation_status_date  \
0                              0          Check-Out                 01-07-15
1                              0          Check-Out                 01-07-15
2                              0          Check-Out                 02-07-15
3                              0          Check-Out                 02-07-15
4                              1          Check-Out                 03-07-15
...                          ...                ...                      ...
118573                         2          Check-Out                 22-08-17
118613                         0          Check-Out                 23-08-17
118619                         1          Check-Out                 23-08-17
118622                         3          Check-Out                 23-08-17
118673                         2          Check-Out                 24-08-17

        total_nights  total_cost total_kids
0                  0        0.00        0.0
1                  0        0.00        0.0
2                  1       75.00        0.0
3                  1       75.00        0.0
4                  2      196.00        0.0
...              ...         ...        ...
118573             7      863.10        0.0
118613            12      476.04        1.0
118619             8     1560.00        0.0
118622             9      720.90        0.0
118673            11     1556.06        1.0

[58152 rows x 34 columns]


**HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)**

In [105]:
# CODE HERE

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64

---

---